@import "./reset.scss";
@import "./iconfont/iconfont.css";
@import "./theme";
@import "./mixins.scss";
@import "./mobile.scss";
html{
  font-size: $font-size-base;
}
html, body {
  height: 100%;
}

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: auto;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9b9999;
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #e0e0e0;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border: 1px solid #efefef;
}
