@mixin css-var($text, $white, $black, $primary, $app-bg, $module-hover-bg) {

  #{--app-bg}: $app-bg;
  #{--container-bg}: $white;
  #{--primary-color}: $primary;

  #{--bg-opacity-m}: rgba($white, 0.6);

  #{--module-hover-bg}: $module-hover-bg;
  #{--module-hover-bg-darken-20}: darken($module-hover-bg, 20%);

  #{--text-color}: $text;
  #{--text-reversal}: $white;
  #{--text-light}: lighter($text, 20%); // #777
  #{--text-dark}: darken($text, 20%); // #333
  #{--text-darken}: darken($text, 40%); // #333
  #{--text-secondary}: rgba($black, .54);
  #{--text-disabled}: rgba($black, .38);
  #{--text-dividers}: rgba($black, .26);

  #{--link-color}: $text;
  #{--link-active-color}:$primary;
  #{--link-hover-color}: darken($text, 20%);
}

#app {

  &.theme-default {
    @include css-var($text: #555,
    $white: #fff,
    $black: #000,
    $primary: #0088f5,
    $app-bg: #f8f8f8,
    $module-hover-bg: rgba(197, 197, 197, 0.5));
  }

  &.theme-beige {
    @include css-var($text: #555,
    $white: #bfbf9b,
    $black: #000,
    $primary: #000,
    $app-bg: #bfbf9b,
    $module-hover-bg: rgba(197, 197, 197, 0.5));
  }

  &.theme-gay {
    @include css-var($text: #555,
    $white: #fff,
    $black: #000,
    $primary: purple,
    $app-bg: purple,
    $module-hover-bg: rgba(197, 197, 197, 0.5));
  }

  &.theme-wang {
    @include css-var($text: #555,
    $white: #fff,
    $black: #000,
    $primary: green,
    $app-bg: green,
    $module-hover-bg: rgba(197, 197, 197, 0.5));
  }

  &.theme-red {
    @include css-var($text: #555,
    $white: #fff,
    $black: #000,
    $primary: red,
    $app-bg: red,
    $module-hover-bg: rgba(197, 197, 197, 0.5));
  }

  &.theme-dark {
    @include css-var($text: #fff,
    $white: #000,
    $black: #fff,
    $primary: #fff,
    $app-bg: #000,
    $module-hover-bg: rgba(0, 0, 0, 0.5));
  }
}
