$container-pd:10px;
$box-shadow:0 2px 12px 0 rgba(0,0,0,.1);

// PC Theme Color
$app-bg: var(--app-bg);
$container-bg:var(--container-bg);
$bg-opacity-m: var(--bg-opacity-m);
$primary: var(--primary-color);


// Text
$text: var(--text-color);
$text-dark: var(--text-dark);
$text-darken: var(--text-darken);
$text-light: var(--text-light);
$secondary: var(--text-secondary);
$disabled: var(--text-disabled);
$dividers: var(--text-dividers);

$white: var(--text-reversal);
$text-reversal: var(--text-reversal);

// Links
$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);

// Colors
$primary: #0088f5;
$accent: #4caf50;
$red: #ff5722;
$yellow: #ffeb3b;
$grey: #efefef;
$black: #000;
$black-light: #555;

// Container
$header-height: 56px;
$container-width: 75em;
$mobile-container-width: 100%;

// Mobile
$mobile-aside-bg: #34393d;
$mobile-aisde-transition: all 0.35s ease-out;

// Other
$radius: 2px;
$navbar-height: 4.5em;

// Basic stylings
$br: 4px;
$xs-pad: 4px;
$sm-pad: 8px;
$md-pad: 1.2em;
$lg-pad: 1.5em;
$xlg-pad: 3em;
$trans: .3s;

// Breakpoints
$small-breakpoint: 400px;
$large-breakpoint: $container-width;

// Font
$sans-serif: DINRegular, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family: $sans-serif;

// Typography
$font-size-base: 14px;
$font-size-large: 1.2rem;
$font-size-small: .85rem;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;
$font-size-h6: $font-size-small;
$line-height-base: 1.4;

$border: 1px solid $dividers;

